#navbarNav {
  display: block !important;
}
.tool-navbar .nav-item .nav-link {
  font-size: 15px !important;
  color: black !important;
  padding: 0;
  padding-left: 4px;
  padding-right: 16px !important;
  text-align: start !important;
}
.underline {
  margin-bottom: 1px;
}
#gray-strip{
  width: 100%;
  height: 270px;
  display: flex;
  background:  #f3f3f4;
  margin-top: 20px;
  margin-bottom: 20px;
}
#inside-strip{
  display: flex;
  flex-direction: column;
}
#white-rect{
  background: white;
  width: 200px;
  height: 140px;
  margin: 10px;
  margin-left: 160px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(216, 216, 216) ;
  border-radius: 3px;
}
.heading{
  display: flex;
  align-self: baseline;
  color:rgb(192, 190, 190);
  width:auto;
  height: 100;
  margin-top: 7px;
}
.sub-heading{
  color: rgb(87, 82, 82);
  font-size: 20px;
  margin: 20px;
  margin-left: 160px;
}
.mini-heading{
  color: rgb(87, 82, 82);
  font-size: 17px;
  margin: 10px;
  margin-left: 160px;
}
.menu_img{
  width: 30px;
  height: auto;

}
.menu_b{
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 0%;
  width: auto;
}
.top-sec{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  -cs-flex-align: center;
  flex:start;
  padding: 0;
  padding-top: 4px;
}
.grid-sheet {
  height: calc(100vh - (100px));
  position: relative;
  overflow: auto;
}
.top-left-block {
  height: 20px;
  min-width: 40px;
  background-color: grey;
  position: absolute;
  z-index: 100;
}
.top-row {
  height: 20px;
  background-color: #f1f3f4;
  display: flex;
  position: absolute;
  /* top: 0px; */
  left: 40px;
  /* overflow:auto; */
  color: #555;
  
}
.top-row .grid-cell{
  resize:horizontal;
}

.left-col {
  width: 40px;
  position: absolute;
  top:20px;
  z-index: 90;
}
.grid-cell {
  min-width: 100px;
  border:solid lightgray;
  border-width: 0px 0px 1px 1px;
  height: 20px;
  display: flex;
  overflow:scroll;
  justify-content: center;
  align-items: center;
  /* padding: 3px; */
}
.grid-left-col {
  font-size: 14px;
  border: 1px solid lightgray;
  height: 20px;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  color: #555;
}
.grid-row{
  display:flex;
  height: 20px;
}
.main-sheet{
  position:absolute;
  top:20px;
  left:40px;
}
[contenteditable]{
  outline: 0px solid transparent;
}
.grid-cell__active{
  border-radius: 0;
  border-width:1px;
  border-color: rgb(87, 148, 246);
  background-color:rgba(128, 171, 239, 0.238);
}

.grid-cell__class{
  margin:0 8px;
  min-width:60px;
  height:35px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(226, 222, 222);
  border-radius:4px;
}