#navbarNav {
  display: block !important;
}
.tool-navbar .nav-item .nav-link {
  font-size: 15px !important;
  color: black !important;
  padding: 0;
  padding-left: 4px;
  padding-right: 16px !important;
  text-align: start !important;
}
.underline {
  margin-bottom: 1px;
}
.width-spacer{
  width:75%;
}
.sub-heading-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-right: 160px;
  padding-left: 160px;
}
#gray-strip{
  width: 100%;
  height: 240px;
  display: flex;
  background:  #f3f3f4;
  margin-top: 0px;
  margin-bottom: 20px;
}
#inside-strip{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#white-rect{
  background: white;
  width: 200px;
  height: 140px;
  margin: 10px;
  margin-left: 160px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(216, 216, 216) ;
  border-radius: 3px;
}
.heading{
  display: flex;
  align-self: baseline;
  color:rgb(192, 190, 190);
  width:auto;
  height: 100;
  margin-top: 7px;
}
.sub-heading{
  color: rgb(87, 82, 82);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.mini-heading{
  color: rgb(87, 82, 82);
  font-size: 17px;
  margin: 10px;
  margin-left: 160px;
  align-self: center;
}
.list-item{
  color: rgb(122, 119, 119);
  /* align-self: center; */
  margin-right: 10px;
}
.menu_img{
  width: 30px;
  height: auto;

}
.menu_b{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 0%;
  width: auto;
  text-align: center;
  
}
.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: auto;
  background-color: black;
  text-align: center;
  /* transition: width .35s;
  -webkit-transition: width .35s; */
  /* overflow: hidden */
}
.dropdown{
  min-width: none;
}
.dropdown-content{
  display: none;
  position: absolute;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  right: 0px;
  top:55px;
  background-color: #f9f9f9;
  min-width: 240px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1
}
.dropdown:hover + .dropdown-content,.dropdown-content:hover{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* .dropdown-content:hover + .dropdown-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
} */
.cred{
  font-size: 20px;
  align-self: center;
  padding-top: 15px;
  /* display: inline; */
}
.top-sec{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  
  /* position: relative; */
}
.navbar {
  display: flex;
  -cs-flex-align: center;
  flex:start;
  padding: 0;
  padding-top: 4px;
}
.grid-sheet {
  height: calc(100vh - (140px));
  position: relative;
  overflow: scroll;

}
.top-left-block {
  height: 20px;
  min-width: 40px;
  background-color: grey;
  position: fixed;
  z-index: 100;
}
.top-row .grid-cell{
  resize: horizontal;
}
.top-row {
  height: 20px;
  background-color: #f1f3f4;
  z-index:90;
  display: flex;
  /* position: absolute; */
  position:sticky;
  top:0px;
  width: max-content;
  
  /* top: 0px; */
  left: 40px;
  color:#555;
  
}


.left-col {
  position:sticky;
  width: 40px;
  /* position: absolute; */
  left:0;
  top:20px;
  z-index: 90;
}
.grid-cell {
  min-width: 100px;
  border:solid lightgray;
  border-width: 0px 0px 1px 1px;
  height: 20px;
  display: flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  /* padding: 3px; */
}
.grid-left-col {
  font-size: 14px;
  border: solid lightgray;
  border-width: 0 0 1px 1px;
  height: 20px;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  color: #555;
}
.grid-row{
  display:flex;
  height: 20px;
}
.main-sheet{
  /* overflow-x: auto; */
  position:absolute;
  top:20px;
  left:40px;
}
[contenteditable]{
  outline: 0px solid transparent;
}
.grid-cell__active{
  border-radius: 0;
  border-width:1px;
  border-color: rgb(87, 148, 246);
  background-color:rgba(128, 171, 239, 0.238);
}

.grid-cell__class{
  margin:0 8px;
  min-width:60px;
  height:35px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(226, 222, 222);
  border-radius:4px;
}